.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
.Sidebar {
  height: 100%;
  position: fixed;
  width: 20vw;
  background-color: #7a0619;
}

.sidebarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.sidebarList .row {
  /* width: 100%; */
  height: 60px;
  list-style: none;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* transition: 0.3s ease-in; */
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.sidebarList .row:hover {
  cursor: pointer;
  background-color: #fff;
  color: #2f4050;
}

.row #title {
  flex: 70%;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
}
